* {
    margin: 0;
    padding: 0;
}


.grid-container {
    margin-top: 20px;

    display: grid;
    display: inline-grid;
    grid-template-columns: 25vw auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;


}

.grid-item {
    /* border: 2px solid black; */
    padding: 30px;
}

#box-1 {
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 20px;

}

#box-2 {
    margin-right: 20px;
}

#box-3 {
    margin-right: 20px;
}




/* ============================================== */

.grid-item {
    box-shadow: 5px 10px 18px #888888;
}






/* icon color  experiance*/

/* work */
.fa-solid {
    color: #009688;

}

/* calender */

.fa-regular {
    color: #009688;
    padding-right: 20px;
}

.fa-brands {
    color: #009688;
}



/* ======== First box Image Side ===== */

/* description start */

.skiil-description p {
    line-height: 40px;
}

.skiil-description span {
    margin-left: 10px;
}


/* description End */


/* Skill Section Start */

.skill-section {
    margin: 20px 0px 20px 0px;
}

.skill-section span {
    margin-left: 10px;
}

.progress-bar {
    margin-top: 20PX;
}

.progress-bar label {
    line-height: 30px;
}

/* Skill Section End */

/* Languages progress bar Start */

.language-section {
    margin-top: 80px;
}

.language span {
    margin-left: 10px;
}


/* Languages progress bar End */






/* Work Experience start */

.work-xperience {
    color: #757575;
    padding: 16px 0px 0px 0px;
    margin: 10px 0px 0px 0px;

}

.work-xperience h1 {
    letter-spacing: 2px;
}

.work-xperience h3 {
    color: #000000;
    padding: 10px 0px 8px 0px;
    margin: 10px 0px 5px 0px;
    color: #757575;
}

.work-xperience h4 {
    padding: 10px;
    color: #009688;

}

.work-xperience span {
    color: white;
    background-color: #009688;
    border-radius: 7px;
    margin-left: 10px;
    padding: 5px;

}

.work-xperience p {
    padding: 10px 0px 50px 0px;
}

/* Work Experience End */




/* work developer start */



.work-developer h3 {
    color: #000000;
    padding: 10px 0px 8px 0px;
    margin: 10px 0px 5px 0px;
    color: #757575;
}

.work-developer h4 {
    padding: 10px;
    color: #009688;

}

.work-developer span {
    color: white;
    background-color: #009688;
    border-radius: 7px;
    margin-left: 10px;
    padding: 5px;

}

.work-developer p {
    padding: 10px 0px 50px 0px;
    text-align: justify;

}

/* work developer End */

/* work Designer start */

.work-designer h3 {
    color: #000000;
    padding: 10px 0px 8px 0px;
    margin: 10px 0px 5px 0px;
    color: #757575;
}

.work-designer h4 {
    padding: 10px;
    color: #009688;

}

.work-designer span {
    color: white;
    background-color: #009688;
    border-radius: 7px;
    margin-left: 10px;
    padding: 5px;

}

.work-designer p {
    padding: 10px 0px 50px 0px;
    text-align: justify;
}

/* work Designer End */


/* Box 3 Eduction Section start */

/* Eduction start */


/* Education Experience start */
.education-experience h1 {
    color: #757575;
    padding: 16px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
    letter-spacing: 2px;
}

.education-experience h3 {
    color: #000000;
    padding: 10px 0px 8px 0px;
    margin: 10px 0px 5px 0px;
    color: #757575;
}

.education-experience h4 {
    padding: 10px;
    color: #009688;

}

.education-experience span {
    color: #009688;


    margin-left: 10px;
    padding: 5px;

}

.education-experience p {
    padding: 10px 0px 10px 0px;
}

/* Education Experience End */



/* Education Master start  */



.education-master h3 {
    color: #000000;
    padding: 10px 0px 8px 0px;
    margin: 10px 0px 5px 0px;
    color: #757575;
}

.education-master h4 {
    padding: 10px;
    color: #009688;
}

.education-master span {
    color: #009688;
    margin-left: 10px;
    padding: 5px;
}

.education-master p {
    padding: 10px 0px 10px 0px;
}

/* Education Master End  */



/* Education school start  */
.education-school h3 {
    color: #000000;
    padding: 10px 0px 8px 0px;
    margin: 10px 0px 5px 0px;
    color: #757575;
}

.education-school h4 {
    padding: 10px;
    color: #009688;
}

.education-school span {
    color: #009688;
    margin-left: 10px;
    padding: 5px;
}

.education-school p {
    padding: 10px 0px 50px 0px;
}



/* Education school End  */


/* Footer start */

.footer {

    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    margin: 10px 20px 0px 20px;
    box-shadow: 5px 10px 80px #888888;
    text-align: center;
    line-height: 30px;
    letter-spacing: 3px;
    font-size: 20px;

}


/* Footer End */



/* Media queries for Laptop screens */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Stacks columns on smaller screens */
    }

    #box-1 {
        grid-row-end: 2;
    }
}

/* Media queries for Ipad screens */
@media (max-width: 999px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Stacks columns on smaller screens */
    }

    #box-1 {
        grid-row-end: 2;
    }
}


/* Media queries for smaller screens */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Stacks columns on smaller screens */
    }

    #box-1 {
        grid-row-end: 2;
    }
}